{% extends 'base.html' %}

{% block head %}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
{% endblock %}

{% block body %}
{% set field_list_split = field_list.split('|') %}
{% set expr_list_split = expr_list.split('|') %}
{% set col_list_split = col_list.split('|') %}
{% set col_order_list_split = col_order_list.split('|') %}
{% set sort_order_list_split = sort_order_list.split('|') %}

<script src="{{ url_for('static', filename='js/table.js') }}"></script>
<script type="text/javascript">
    passSearchSize({{ field_list_split|length }});
    genDynamicColName('{{ table_mode }}');
</script>
<div class="content bg-light text-dark">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Country Id</th>
                <th scope="col">Country A</th>
                <th scope="col">Country B</th>
                <th scope="col">Date Updated</th>
                <th scope="col">Relationship Score</th>
            </tr>
        </thead>
        <tbody>
        {% for row in data.items %}
            <tr>
                <td>{{ row.country_id }}</td>
                <td>{{ row.country_a }}</td>
                <td>{{ row.country_b }}</td>
                <td>{{ row.date_updated }}</td>
                <td>{{ row.relationship_score }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="content-below">
    <form action="/search/{{ table_mode }}" method="POST">
        <div class="container">
            <div id="InputsWrapper" class="form-group">
                <div>
                    <div>
                        <button class="btn btn-dark" type="button" name="add" id="AddFilter">Add Filter</button>
                        <input class="btn btn-primary" type="submit" name="action" value="Search Data" >
                        {% for page in data.iter_pages() %}
                            {% if page %}
                                <a class="btn btn-info" href="{{ url_for('search_' ~ table_mode, page_num=page, field_list=field_list, expr_list=expr_list, col_list=col_list, col_order_list=col_order_list, sort_order_list=sort_order_list) }}">{{ page }}</a>
                            {% else %}
                                ...
                            {% endif %}
                        {% endfor %}
                    </div>
                    <br>
                    <br>
                    <div class="input-group row">
                        <div class="col-sm-6"><input class="form-control" placeholder="Enter column value" value="{{ field_list_split[0] }}" type="text" name="field_1" placeholder="Enter text" /></div>
                        <select name="select_expr_1" id="select_expr_1" class="form-select" aria-label=".form-select-sm example">
                            <option value="=" {% if expr_list_split[0]=='=' %} selected {% endif %}>=</option>
                            <option value="in" {% if expr_list_split[0]=='in' %} selected {% endif %}>in</option>
                            <option value="like" {% if expr_list_split[0]=='like' %} selected {% endif %}>like</option>
                            <option value=">=" {% if expr_list_split[0]=='>=' %} selected {% endif %}>>=</option>
                            <option value="<=" {% if expr_list_split[0]=='<=' %} selected {% endif %}><=</option>
                            <option value=">" {% if expr_list_split[0]=='>' %} selected {% endif %}>></option>
                            <option value="<" {% if expr_list_split[0]=='<' %} selected {% endif %}><</option>
                        </select>
                        <select name="select_col_1" id="select_col_1" class="form-select" aria-label=".form-select-sm example">
                            <option value="country_id" {% if col_list_split[0]=='country_id' %} selected {% endif %}>country_id</option>
                            <option value="country_a" {% if col_list_split[0]=='country_a' %} selected {% endif %}>country_a</option>
                            <option value="country_b" {% if col_list_split[0]=='country_b' %} selected {% endif %}>country_b</option>
                            <option value="date_updated" {% if col_list_split[0]=='date_updated' %} selected {% endif %}>date_updated</option>
                            <option value="relationship_score" {% if col_list_split[0]=='relationship_score' %} selected {% endif %}>relationship_score</option>
                        </select>
                    </div>
                </div>
                {% set field_str = 'field_' %}
                {% set expr_str = 'select_expr_' %}
                {% set col_str = 'select_col_' %}
                {% set del_str = 'delete_btn_' %}
                {% for  field in field_list_split[1:] %}
                    {% set loop_index_adjusted = loop.index + 1 %}

                    <div class="input-group row mt-4">
                        {% set expr_value = expr_list_split[loop.index]%}
                        {% set field_value = field_list_split[loop.index]%}
                        {% set col_value = col_list_split[loop.index]%}
                        <div class="input-group">
                            <div class="col-sm-6">
                                <input type="text" placeholder="Enter column value" class="form-control skill_list" value="{{ field_value }}" name="{{ field_str ~ loop_index_adjusted }}" id="{{ field_str ~ loop_index_adjusted }}" />
                            </div>
                            <select class="form-select" name="{{ expr_str ~ loop_index_adjusted }}" id="{{ expr_str ~ loop_index_adjusted }}">
                                <option value="=" {% if expr_value=='=' %} selected {% endif %}>=</option>
                                <option value="in" {% if expr_value=='in' %} selected {% endif %}>in</option>
                                <option value="like" {% if expr_value=='like' %} selected {% endif %}>like</option>
                                <option value=">=" {% if expr_value=='>=' %} selected {% endif %}>>=</option>
                                <option value="<=" {% if expr_value=='<=' %} selected {% endif %}><=</option>
                                <option value=">" {% if expr_value=='>' %} selected {% endif %}>></option>
                                <option value="<" {% if expr_value=='<' %} selected {% endif %}><</option>
                            </select>
                            <select class="form-select" name="{{ col_str ~ loop_index_adjusted }}" id="{{ col_str ~ loop_index_adjusted }}">
                                <option value="country_id" {% if col_value=='country_id' %} selected {% endif %}>country_id</option>
                                <option value="country_a" {% if col_value=='country_a' %} selected {% endif %}>country_a</option>
                                <option value="country_b" {% if col_value=='country_b' %} selected {% endif %}>country_b</option>
                                <option value="date_updated" {% if col_value=='date_updated' %} selected {% endif %}>date_updated</option>
                                <option value="relationship_score" {% if col_value=='relationship_score' %} relationship_score {% endif %}>relationship_score</option>
                            </select>&ensp;
                            <a href="#" class="btn btn-danger removeclass" id ="{{ del_str ~ loop_index_adjusted }}">×</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div id="OrderWrapper">
                <div class="input-group mt-4">
                    <div>
                        <select name="order_col_1" id="order_col_1" class="form-select" aria-label=".form-select-sm example">
                            <option value="country_id" {% if col_order_list_split[0]=='country_id' %} selected {% endif %}>country_id</option>
                            <option value="country_a" {% if col_order_list_split[0]=='country_a' %} selected {% endif %}>country_a</option>
                            <option value="country_b" {% if col_order_list_split[0]=='country_b' %} selected {% endif %}>country_b</option>
                            <option value="date_updated" {% if col_order_list_split[0]=='date_updated' %} selected {% endif %}>date_updated</option>
                            <option value="relationship_score" {% if col_order_list_split[0]=='relationship_score' %} selected {% endif %}>relationship_score</option>
                        </select>
                    </div>
                    <div>
                        <select name="order_sort_1" id="order_sort_1" class="form-select" aria-label=".form-select-sm example">
                            <option value="desc" {% if sort_order_list_split[0]=='desc' %} selected {% endif %}>Descending</option>
                            <option value="asc" {% if sort_order_list_split[0]=='asc' %} selected {% endif %}>Ascending</option>
                        </select>
                    </div>
                </div>
                <div class="input-group mt-4">
                    <div>
                        <select name="order_col_2" id="order_col_2" class="form-select" aria-label=".form-select-sm example">
                            <option value="country_id" {% if col_order_list_split[1]=='country_id' %} selected {% endif %}>country_id</option>
                            <option value="country_a" {% if col_order_list_split[1]=='country_a' %} selected {% endif %}>country_a</option>
                            <option value="country_b" {% if col_order_list_split[1]=='country_b' %} selected {% endif %}>country_b</option>
                            <option value="date_updated" {% if col_order_list_split[1]=='date_updated' %} selected {% endif %}>date_updated</option>
                            <option value="relationship_score" {% if col_order_list_split[1]=='relationship_score' %} selected {% endif %}>relationship_score</option>
                        </select>
                    </div>
                    <div>
                        <select name="order_sort_2" id="order_sort_2" class="form-select" aria-label=".form-select-sm example">
                            <option value="desc" {% if sort_order_list_split[1]=='desc' %} selected {% endif %}>Descending</option>
                            <option value="asc" {% if sort_order_list_split[1]=='asc' %} selected {% endif %}>Ascending</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}